### Count or frequency encoding

Replace the categories by the count of the observations that show that category in the dataset. Similarly, we can replace the category by the frequency -or percentage- of observations in the dataset.


### High Cardinality

Another way to refer to variables that have a multitude of categories, is to call them variables with **high cardinality**.

If we have categorical variables containing many multiple labels or high cardinality,then by using one hot encoding, we will expand the feature space dramatically.



One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the ***count***, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.




Let's see how this works:

In [22]:
import pandas as pd
import numpy as np

# let's open the mercedes benz dataset for demonstration
# Download the dataset from the below link
#https://www.kaggle.com/aditya1702/mercedes-benz-data-exploration/data

df = pd.read_csv('mercedesbenz.csv', usecols=['X1', 'X2'])
df.head(10)

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n
5  b   e
6  r   e
7  l  as
8  s  as
9  b  aq

In [23]:
df.shape

(4209, 2)

## One hot Encoding

In [24]:
pd.get_dummies(df).shape

(4209, 71)

In [25]:
len(df['X1'].unique())

27

In [26]:
len(df['X2'].unique())

44

In [27]:
# let's have a look at how many labels

for col in df.columns:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels

In [28]:
# let's obtain the counts for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to re-map the labels

df.X1.value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
d       3
q       3
ab      3
Name: X1, dtype: int64

In [29]:
df.X2.value_counts()

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
h        6
at       6
q        5
an       5
al       5
p        4
ah       4
av       4
au       3
aa       1
ar       1
l        1
am       1
af       1
o        1
c        1
j        1
Name: X2, dtype: int64

In [30]:

df.X1.value_counts().to_dict()

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [31]:

df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'q': 5,
 'an': 5,
 'al': 5,
 'p': 4,
 'ah': 4,
 'av': 4,
 'au': 3,
 'aa': 1,
 'ar': 1,
 'l': 1,
 'am': 1,
 'af': 1,
 'o': 1,
 'c': 1,
 'j': 1}

In [32]:
# And now let's replace each label in X2 by its count

# first we make a dictionary that maps each label to the counts
df_frequency_map_X1 = df.X1.value_counts().to_dict()
df_frequency_map_X2 = df.X2.value_counts().to_dict()

In [33]:
df.head(100)

    X1  X2
0    v  at
1    t  av
2    w   n
3    t   n
4    v   n
..  ..  ..
95   b   m
96   l  as
97  aa  as
98   b   m
99   s   m

[100 rows x 2 columns]

In [34]:
df.X1

0       v
1       t
2       w
3       t
4       v
       ..
4204    s
4205    o
4206    v
4207    r
4208    r
Name: X1, Length: 4209, dtype: object

In [36]:
df_frequency_map_X1

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [35]:
# and now we replace 
df.X1 = df.X1.map(df_frequency_map_X1)
df.X2 = df.X2.map(df_frequency_map_X2)

df.head(15)

     X1    X2
0   408     6
1    31     4
2    52   137
3    31   137
4   408   137
5   592    81
6   251    81
7   590  1659
8   598  1659
9   592    63
10  251   153
11  251    81
12  592   415
13  251    81
14  598  1659

There are some advantages and disadvantages that we will discuss now

### Advantages

1. It is very simple to implement
2. Does not increase the feature dimensional space

### Disadvantages

1. If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.

2 Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power

Follow this thread in Kaggle for more information:
https://www.kaggle.com/general/16927