In [1]:
import pandas as pd
from sklearn import tree

In [2]:
df = pd.read_csv("male_female.csv")

In [3]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     180      80         38  female
3     154      54         37  female
4     165      85         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [4]:
x = df.iloc[: , : -1]

In [5]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     180      80         38
3     154      54         37
4     165      85         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [6]:
y = df.iloc[: , 3 : ]

In [7]:
y

   gender
0    male
1  female
2  female
3  female
4    male
5    male
6    male
7  female
8  female
9    male

In [8]:
classifier = tree.DecisionTreeClassifier()

In [9]:
prediction = classifier.fit(x,y)

In [10]:
prediction

DecisionTreeClassifier()

In [11]:
prediction = classifier.predict([[180 , 75 , 45]])
prediction

array(['male'], dtype=object)