In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("car driving risk analysis.csv")

In [3]:
df

    speed  risk
0     200    95
1      90    20
2     300    98
3     110    60
4     240    72
5     115    10
6      50     7
7     230    85
8     190    45
9     260    91
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

In [4]:
df.speed

0     200
1      90
2     300
3     110
4     240
5     115
6      50
7     230
8     190
9     260
10    290
11    185
12    310
13     95
14     30
Name: speed, dtype: int64

In [5]:
df.risk

0     95
1     20
2     98
3     60
4     72
5     10
6      7
7     85
8     45
9     91
10    82
11    59
12    93
13    18
14     2
Name: risk, dtype: int64

In [6]:
x = df[["speed"]]
y = df["risk"]

In [9]:
df[["speed"]]

    speed
0     200
1      90
2     300
3     110
4     240
5     115
6      50
7     230
8     190
9     260
10    290
11    185
12    310
13     95
14     30

In [10]:
type(x)

pandas.core.frame.DataFrame

In [11]:
type(y)

pandas.core.series.Series

In [12]:
x

    speed
0     200
1      90
2     300
3     110
4     240
5     115
6      50
7     230
8     190
9     260
10    290
11    185
12    310
13     95
14     30

In [13]:
y

0     95
1     20
2     98
3     60
4     72
5     10
6      7
7     85
8     45
9     91
10    82
11    59
12    93
13    18
14     2
Name: risk, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
xtrain , xtest , ytrain , ytest = train_test_split(x , y ,test_size = .30 , random_state=1)

In [17]:
xtrain

    speed
4     240
1      90
13     95
0     200
14     30
9     260
8     190
12    310
11    185
5     115

In [18]:
xtest

    speed
3     110
7     230
6      50
2     300
10    290

In [19]:
ytrain

4     72
1     20
13    18
0     95
14     2
9     91
8     45
12    93
11    59
5     10
Name: risk, dtype: int64

In [20]:
ytest

3     60
7     85
6      7
2     98
10    82
Name: risk, dtype: int64

In [21]:
from sklearn.linear_model import LinearRegression 
regobj = LinearRegression()

In [22]:
regobj.fit(xtrain , ytrain)     # training

LinearRegression()

In [23]:
regobj.predict(xtest)            # Testing

array([26.93182066, 72.91851205,  3.93847496, 99.74408203, 95.91185775])

In [24]:
regobj.coef_

array([0.38322243])

In [25]:
regobj.intercept_

-15.222646449220008

In [26]:
Y = 0.38322243*289  + (-15.222646449220008)
Y

95.52863582078

In [27]:
accuracy = regobj.score(xtest,ytest)
print(accuracy*100,'%')

71.97274917524716 %