In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn import linear_model

In [3]:
df = pd.read_csv("car_speed_risk.csv")
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

y = mx + c
y  = m1x1 + m2x2 + m3x3 +..................+c

In [4]:
df.speed

0    200
1     90
2    165
3    110
4    140
5    115
Name: speed, dtype: int64

In [6]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [5]:
df.experience = df.experience.fillna(df.experience.median())
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [6]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [7]:
reg_obj = linear_model.LinearRegression()

In [8]:
reg_obj.fit(df[["speed","car_age","experience"]],df.risk)

LinearRegression()

In [9]:
reg_obj.predict([[160,10,5]])

array([71.37146872])

In [10]:
reg_obj.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [11]:
reg_obj.intercept_

33.410000910435905

In [26]:
risk = (160 * 0.33059217 + 10*1.61053246 + 5 *(-6.20772074))+33.410000910435905
risk

71.3714690104359